/* ruble part--------------------- */

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
  }
  
  
  /* banner styling------------------ */
  #banner > img {
    width: 100%;
  }
  .img-slider {
    position: relative;
    width: 100%;
    height: 450px;
  }
  #logo{
    width: 90%;
    margin-top: 10%;
  }
  .inputSearch{
    background-color: transparent;
  }
  .img-slider .slide {
    z-index: 1;
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
  }
  
  .img-slider .slide.active {
    clip-path: circle(150% at 0 50%);
    transition: 1.5s;
    transition-property: clip-path;
  }
  
  .img-slider .slide img {
    z-index: 1;
    width: 100%;
    height: 450px;
    border-radius: 5px;
  }
  
  .img-slider .slide {
    position: absolute;
    top: 0;
  }
  .img-slider .slide {
    width: 100%;
    border-radius: 4px;
  }
  
  .img-slider .navigation {
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .img-slider .navigation .btn {
    background: rgba(255, 255, 255, 0.5);
    width: 16px;
    height: 16px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .img-slider .navigation .btn.active {
    background: #2696e9;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  }
  
  /* after banner styling------------------------- */
  #mid_container{
  margin-top:30px ;
  }
  #after_banner {
    margin: 30px ;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 2vh;
    grid-column-gap: 3vh;
  }
  #after_banner img {
    width: 100%;
    height: 17vh;
    margin: auto;
  }
  #after_banner img:hover{
      zoom:unset;
    }
  
    /* After six grid item styling---------------------- */
#after-six-item {
    margin: 30px 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  #after-six-item img {
    width: 100%;
  }
  #two_photo_row {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 30px;
  }

  /* collections styling------------------------ */
  
#collections {
  margin-top: 7%;
  /* border: 2px solid red; */
  height: auto;
  padding: 0px 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

#collections .fst-img {
  padding-top: 50px;
  /* border: 2px solid red; */
  
  
}
#collections img{
  width: 100%;
  border-radius: 5px;
}
.mid-img .btnn{
  width: 100%;
  margin: 40px auto;
  text-align: center;
}
.custom-btn {
  /* width: 130px; */
  height: 40px;
  color: #fff;
  border-radius: 5px;
  /* padding: 10px 25px; */
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: large;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}
.btn-4 {
  background-color: #4d8ccc;
background-image: linear-gradient(315deg, #4d4dcc 0%, #96e4df 74%);
  line-height: 42px;
  padding: 0px 40px;
  border: none;
  text-align: center;
}
.btn-4:hover{
  background-color: #89a2d8;
background-image: linear-gradient(315deg, #8995d8 0%, #03c8a8 74%);
}
.btn-4 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-4:before,
.btn-4:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
   box-shadow:  4px 4px 6px 0 rgba(255,255,255,.9),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.9),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
  transition: all 0.3s ease;
}
.btn-4:before {
  height: 0%;
  width: .1px;
}
.btn-4:after {
  width: 0%;
  height: .1px;
}
.btn-4:hover:before {
  height: 100%;
}
.btn-4:hover:after {
  width: 100%;
}
.btn-4 span:before,
.btn-4 span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.9),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.9),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
  transition: all 0.3s ease;
}
.btn-4 span:before {
  width: .1px;
  height: 0%;
}
.btn-4 span:after {
  width: 0%;
  height: .1px;
}
.btn-4 span:hover:before {
  height: 100%;
}
.btn-4 span:hover:after {
  width: 100%;
}
/* four_boxes_styling----------- */

#diamod_boxes {
  /* margin: 30px; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
#diamod_boxes img {
  width: 100%;
}